<% if @tickets.blank? %>

	<p>You have no tickets</p>

<% else %>

	<h1>Tickets</h1>
	<!---
		could turn this into table
		need to figure out how to get whole line
	!-->
	<ul id = "tickets">
		<% @tickets.each do |ticket| %>
			<li><%= link_to ticket.id, { :action => 'show', :id => ticket} %>
				<%= link_to ticket.title, { :action => 'show', :id => ticket} %></li>
		<% end %>
	</ul>

<% end %>	

<br>
<%= link_to "Create ticket", { :action => 'new'} %>