<% if @tickets.blank? %>

	<p>You have no tickets</p>

<% else %>

	<!---
		could turn this into table
		need to figure out how to get whole line
	!-->
	<ul id="tickets">
		<% @tickets.each do |c| %>
			<li><%= link_to c.title, { :action => 'show', @id => c.id } %></li>
		<% end %>
	</ul>

<% end %>	

<br>
<%= link_to "Create ticket", { :action => 'new'} %>